@font-face {
    font-family: 'MONTSERRAT';
    src: url('../../public/Montserrat-Regular.ttf');
}
.bigbox{
    display: flex;
    padding: 100px;
    height: 700px;
    align-items: flex-start;
    background-color: black;
    transition: box-shadow 1s linear;
    box-shadow: none;
}

.bigbox img{
    height: 700px;
    width: auto;
    border: 1px solid transparent;
    border-radius: 32px;
    box-shadow: 0px 0px 0px white;
    animation: shadowOut 0.5s linear;
}

.bigbox img:hover{
    animation: shadowIn 1s linear;
    box-shadow: 0px 0px 30px white;
}

@keyframes shadowIn {
    0%{
        box-shadow: 0px 0px 0px white;
    }

    100%{
        box-shadow: 0px 0px 30px white;
    }
}

@keyframes shadowOut {
    100%{
        box-shadow: 0px 0px 0px white;
    }

    0%{
        box-shadow: 0px 0px 30px white;
    }
}

.deviceText{
    color: white;
}

.deviceText p{
    font-family: 'MONTSERRAT';
    font-size: 30px;
    margin-left: 20px;
}
.deviceText{
    position: relative;
    width: 0;
    margin-top: 250px;
    overflow: hidden;
    white-space: nowrap;
    animation: shrink 0.5s linear; 
}

.deviceText.show{
    animation: spreadOut 1s linear;
    width: 100%;
}

.borderBottom{
    position: absolute;
    content: '';
    background-color: white;
    bottom: 0;
    height: 2px;
    left: 0px;
    width: 0;
    animation: shrink 0.5s linear;
}

.borderBottom.show{
    width: calc(100% + 20px);
    animation: spreadOut 1s linear;
}



@keyframes spreadOut{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

@keyframes shrink{
    0%{
        width: 100%;
    }

    100%{
        width: 0;
    }
}