body{
    margin: 0;
    /* overflow-x: hidden; */
}
@media (min-width: 320px) and (max-width: 640px){
    body{
        background-color: rgb(255, 255, 255);
    }
    .navbar{
        display: none !important; 
    }
    .backgroundShape{
        margin-left: -200% !important;
    }
    .aboutMe{
        max-width:  450px!important;   
    }
    .bigbox{
        align-items: center !important;
    }
    .portraitDiv{
        padding: 0 !important;
        margin-top: 50%;
    }
    .aboutMe img{
        position: absolute !important;
        left: calc((100% - 400px) / 2) !important;
        top: -70% !important;
        height: auto !important;
        width: 400px !important;
        box-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .tiles{
        align-content: center !important;
        min-width: fit-content !important;
        /* gap: 150px !important; */
        min-height: calc(2400px + 6*30px + 50px) !important;
        grid-template-rows: repeat(6, 400px)  !important; 
        grid-template-columns: 300px !important;
    }
    .projects{
        width: 500px !important;
    }
    .header{
        margin-left: 0 !important;
        align-self: center !important;
    }
    .tile{
        padding: 8px !important;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 100% !important;
        box-shadow: 0px 0px 5px rgb(100, 99, 99);
        overflow: hidden;
    }
    .info{
        align-items: center !important;
    }
    footer{
        display: flex;
        flex-direction: column;
    };

    footer img{
        height: 60% !important;
        width: auto !important;
    };
    
}
@media (min-width: 640px) and (max-width: 878px) {
    .portraitDiv{
        padding: 0 !important;
    }
    .aboutMe{
        display: block !important;
        position: relative !important;
        justify-content: flex-start !important; 
    }
    .aboutMe h1{
        align-self: flex-end;
        margin-left: calc(100% - 400px + 24%);
        text-align: center;
    }
    .tiles{
        grid-template: repeat(3, minmax(500px, 1fr)) / repeat(2, minmax(300px, 1fr)) !important;
        height: fit-content !important;
    }
    .tile{
        height: 450px;
    }
    .description{
        align-self: flex-start !important;
    }
    .tile img{
        height: 40% !important;
    }

    .aboutMe img{
        width: 400px !important;
        position: relative !important;
        float: left !important;
        height: auto !important; 
        top: -20% !important;
        left: -8% !important;
        shape-outside: polygon(5% 20%, 95% 20%, 95% 80%, 5% 80%);
    }
    .header{
        margin: 0 !important;
    }
    .projects{
        align-items: flex-start !important;
        padding-left: 12%;
    }
    .description{
        text-align: start !important;
    }
    .titleAndLinks{
        height: 100px !important;
    }
    .info img{
        width: 20% !important;
    }
    footer img{
        height: 400px !important;
    }
}

@font-face {
    font-family: 'ROBOTO';
    src: url('./MISC/Roboto-Black.ttf');
}

@font-face {
    font-family: 'PD';
    src: url('./MISC/PlayfairDisplay-Black.ttf');
}
@media (min-width: 878px) {
    
}
.backgroundShape{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #571818;
    margin-left: -70%;
    transform: skewX(-70deg);
}

.portraitDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 25%;
}
.aboutMe img{
    width: auto;
    height: 500px;
    position: absolute;
    left: -78%;
}
.bigbox{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 150px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}
.aboutMe{
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-height: 400px;
    width: 600px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    box-shadow: 2px 2px 4px rgb(153, 153, 153);
    font-family: 'PD' !important;
}

.aboutMe p{
    font-size: 1.1rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
    /* gap: 65%; */
    padding-left: 8%;
    background-color: white;
    height: 70px;
    box-shadow: 0px 1px 2px #571818;
    font-family: 'ROBOTO';
    font-size: 1em;
    align-items: center;
}

.links{
    display: flex;
    gap: 35px;
    padding-top: 10px;
}
.links div{
    position: relative;
    padding-bottom: 10px;
    width: 80px;
    text-align: center;
    font-size: 1.1em;
}
.links div:hover{
    cursor: pointer;
    scale: 1.05;
}
.links div:hover::after,
.links div:hover::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px; 
    background-color: #571818; 
}

.links div:hover::before {
    left: 50%; 
    animation: growBorder 0.2s linear;
    width: 30%;
}
.links div:hover::after {
    right: 50%; 
    animation: growBorder 0.2s linear;
    width: 30%;
}
a{
    text-decoration: none;
    color: black;
}
.imgLinks{
    display: flex;
    gap: 50px;
    align-items: center;
}

a:active{
    color: rgb(77, 77, 77);
}

a:hover{
    transform: scale(1.1);
}


@keyframes growBorder{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}


.projects{
    display: flex;
    gap: 50px;
    min-height: fit-content;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.header{
    font-size: 2em;
    font-family: 'PD';
    align-self: flex-start;
    margin-left: 12%;
}

.tiles{
    display: grid;
    width: calc(100% - 400px);
    gap: 50px;
    height: 1000px;
    grid-template: 1fr 1fr / repeat(3, minmax(300px, 1fr));
}

.tile{
    padding: 16px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(100, 99, 99);
    overflow: hidden;
}

.tile img{
    height: 60%;
    width: auto;
    object-fit: cover;
}
.screenshot{
    overflow: hidden;
}
.tile img:hover{
    animation: imageZoomIn 0.05s linear;
    scale: 1.1;
    cursor: pointer;
}

@keyframes imageZoomIn {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}

.projectDescription{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background-color: white;
}

.titleAndLinks{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 30%;
    font-size: 20px !important;
}

.title{
    font-family: 'ROBOTO';
    font-size: 19px;
}

.projectLinks{
    display: flex;
    gap: 15px;
}

.description{
    width: 100%;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px;
    background-color: #571818;
    margin-top: 100px;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.info :not(.header){
    font-family: 'ROBOTO';
    font-size: 15px;
}
.randomText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.phone,
.email{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons{
    display: flex;
    gap: 15px;
}
footer img{
    height: 500px;
    width: auto;
}
.icons svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}